/* Global*/

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    
}

.container{
    margin: 0 auto;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
    background: #000;
}

/* Divider */

.divider{
    border: 5px solid #222;
}

/* Hero Section*/

#hero-section{
    background: url('img/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 40px;
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
    height: 100vh;
    width: 100vw;

    .hero-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 150px;
            height: 45px;
        }
        a{
            text-decoration: none;
            color: #fff;
            background-color:#e50914;
            padding: 7px 17px;
            border-radius: 4px;
        }
    }

    .text-wrapper{
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        .hero-text{
            h1{

                align-self: center;
                font-size: 3.125rem;
                padding-bottom: 30px;
            }
            h2{
                font-weight: 300;
                padding-bottom: 30px;
            }
            a{
                color: #fff;
                background-color:#e50914;
                text-decoration: none;
                text-transform: uppercase;
                padding: 10px 15px;
                font-size: 26px;
                border-radius: 5px;
                i{
                    padding-left: 8px;
                }
          
            }
        }
    }

}

/* TV Section*/

#tv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    padding: 60px 0;
    .tv-left{
        width: 50%;
        color: #fff;
        h1{
            font-size: 50px;
            padding-bottom: 15px;
        }
        h3{
            font-size: 25px;
            font-weight: 300;
        }
    }
    .tv-right{

        img{
            width: 100%;
            height: auto;
        }
    }
}

/* Download Section*/

#download{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    padding: 60px 0;

    .download-right{
        width: 50%;
        color: #fff;
        
        h1{
            font-size: 50px;
            padding-bottom: 15px;
        }
        
        h3{
        font-size: 25px;
        font-weight: 300;
        }
    }
}

/* Everywhere Section*/

#everywhere-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    padding: 60px 0;

    .everywhere-left{
        width: 50%;
        color: #fff;
                
        h1{
            font-size: 50px;
            padding-bottom: 15px;
        }
        
        h3{
        font-size: 25px;
        font-weight: 300;
        }
    }
}

/* Plan Section*/

#select-plan{
    padding: 60px 0;
    text-align: center;
    width: 80%;
    margin: 0 auto;

    .plan-title{
        padding-bottom: 50px;
    h1{
        color: #fff;
        font-weight: 300;
        font-size: 28px;
        padding-bottom: 25px;
    }
    a{
        color: #fff;
        background-color:#e50914;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 100;
        border-radius: 5px;
        margin-bottom: 50px;
        i{
            padding-left: 8px;
        }
    }
    }
    table{
        border-collapse: collapse;
        width: 100%;
        tr:nth-child(even) {
            background-color: #222;
          }
        th{
            text-align: center;
            padding: 8px;
        }
        
        td{
            color:#999;
            text-align: left;
            padding: 12px;     
        
        }
        .td-center{
            text-align: center;
        }

    }
}

/* Footer*/

#footer{
    padding: 60px 0;
    width: 80%;
    margin: 0 auto;
    color:#fff;

.footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

}